@model IEnumerable<OLIWS.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.admin.FirsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fund.Fund_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loan.Loan_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.register.RegisterID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.admin.FirsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fund.Fund_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loan.Loan_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.register.RegisterID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountID })
        </td>
    </tr>
}

</table>
