@model  OLIWS.Models.ProfileViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="rev_slider_wrapper">
    <div class="rev_slider" data-version="5.0" id="slider1">
        <ul>
            <li data-transition="fade">
                <img alt="" data-bgfit="cover" data-bgparallax="1" data-bgposition="top center" data-bgrepeat="no-repeat" height="888" src="~/Designing/OLIWSHOME/images/slider/1.jpg" width="1920">

                <div class="tp-caption tp-resizeme" data-hoffset="15" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="700" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-voffset="350" data-x="left" data-y="top">
                    <div class="slide-content-box">
                        <h1>
                            Hand to Make Better<br>
                            Life for <span class="thm-color">Children</span>
                        </h1>


                        <p>
                            Every good act is humanity. A man's true wealth hereafter is the good that<br>
                            he does in this world to his fellows.
                        </p>
                    </div>
                </div>


                <div class="tp-caption tp-resizeme" data-hoffset="15" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="2300" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-voffset="580" data-x="left" data-y="top">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn" href="#">read more</a>
                        </div>
                    </div>
                </div>


                <div class="tp-caption tp-resizeme" data-hoffset="190" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="2600" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-voffset="580" data-x="left" data-y="top">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn style-3" href="~/Account/Register">Join Us</a>
                        </div>
                    </div>
                </div>
            </li>

            @foreach (var it in Model.banner)
            {
                <li data-transition="fade">
                    <img alt="" data-bgfit="cover" data-bgparallax="1" data-bgposition="top center" data-bgrepeat="no-repeat" height="580" src="@Url.Content(it.Image)" width="1920">

                    <div class="tp-caption tp-resizeme" data-hoffset="" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="700" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-voffset="370" data-x="center" data-y="top">
                        <div class="slide-content-box center">
                            <h1>@it.Name</h1>


                            <p>
                                @it.Description
                            </p>
                        </div>
                    </div>


                    <div class="tp-caption tp-resizeme" data-hoffset="-90" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="2300" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-voffset="550" data-x="center" data-y="top">
                        <div class="slide-content-box">
                            <div class="button">
                                <a class="thm-btn" href="~/Account/Register">donate us</a>
                            </div>
                        </div>
                    </div>


                    <div class="tp-caption tp-resizeme" data-hoffset="90" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="2600" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-voffset="550" data-x="center" data-y="top">
                        <div class="slide-content-box">
                            <div class="button">
                                <a class="thm-btn style-3" href="~/Account/Login">Log in</a>
                            </div>
                        </div>
                    </div>
                </li>

            }
            <li data-transition="fade">
                <img alt="" data-bgfit="cover" data-bgparallax="1" data-bgposition="top center" data-bgrepeat="no-repeat" height="580" src="~/Designing/OLIWSHOME/images/slider/3.jpg" width="1920">

                <div class="tp-caption tp-resizeme" data-hoffset="200" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="700" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-voffset="340" data-x="center" data-y="top">
                    <div class="slide-content-box">
                        <h1>
                            A Little Amount Of<br>
                            Donation Save Life
                        </h1>


                        <p>
                            Every good act is humanity. A man's true wealth hereafter is the good that<br>
                            he does in this world to his fellows.
                        </p>
                    </div>
                </div>


                <div class="tp-caption tp-resizeme" data-hoffset="0" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="2300" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-voffset="570" data-x="center" data-y="top">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn" href="~/OLIWS/Volunter">Join With Us</a>
                        </div>
                    </div>
                </div>


                <div class="tp-caption tp-resizeme" data-hoffset="190" data-responsive_offset="on" data-splitin="none" data-splitout="none" data-start="2600" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-voffset="570" data-x="center" data-y="top">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn style-3" href="~/Account/Login">Log in</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--End rev slider wrapper-->
<!--<Header end> -->

<section class="about-2 sec-padd3">
    <div class="container">
        <div class="section-title center">
            <h2>Welcome to <span class="thm-color">OLIWS</span></h2>


            <p>
                We are human beings having/ non-profit/ fundraising/ NGO organizations. Our OLIWS activities are taken place around the Pakistan,let<br>
                contribute to them with us by your hand to be a better life.
            </p>
        </div>


        <div class="row">
            @foreach (var ite in Model.P_fund_Categories.Where(l => l.cat_img != null))
            {
                <article class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-item">
                        <div class="img-box">
                            <img alt="" src="@Url.Content(ite.cat_img)">
                        </div>


                        <div class="content">
                            <div class="clearfix">
                                <div class="icon_box">
                                    <span class="icon-people"></span>
                                </div>


                                <div class="text">
                                    <h4>@ite.cat_title</h4>


                                    <p>Be Good to People</p>
                                </div>
                            </div>


                            <p>@ite.cat_decsription</p>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
</section>
<section class="about sec-padd2">
    <div class="container">
        <div class="section-title center">
            <h2>About our <span class="thm-color">OLIWS</span></h2>
        </div>


        <div class="row">

            <article class="col-md-6 col-sm-12 left-column">
                @foreach (var it in Model.P_team.OrderBy(p => p.Timing).Take(3).Where(l => l.team_img != null))
                {
                    <div class="row padd-bottom-30">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="img-box">
                                <img alt="" src="@Url.Content(it.team_img)">
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h3>What We Do</h3>


                            <p>@it.team_description</p>
                        </div>
                    </div>
                }
            </article>


            <article class="col-md-6 col-sm-6 col-xs-12">
                <div class="content">
                    <div class="text">
                        <p>When you give to Our humanity, you know your donation is making a difference. Whether you are supporting one of our Signature Programs or our carefully curated list of Gifts That Give More, our professional staff works hard every day to ensure every dollar has impact for the cause of your choice.</p>
                    </div>


                    <h3 class="thm-color">Years of Experience</h3>


                    <div class="text">
                        <p>We partner with over 320 amazing projects worldwide, and have given over $150 million in cash and product grants to other groups since 2011. We also operate our own dynamic suite of Signature Programs.</p>
                    </div>


                    <ul>
                        <li><i class="fa fa-check"></i>This mistaken idea of denouncing pleasure</li>


                        <li><i class="fa fa-check"></i>Master-builder of human happiness</li>


                        <li><i class="fa fa-check"></i>Occasionally circumstances occur in toil</li>


                        <li><i class="fa fa-check"></i>Undertakes laborious physical exercise</li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>


<section class="team-style-2 sec-padd2">
    <div class="container">
        <div class="section-title">
            <h2>Meet Our <span class="thm-color">Volunteers</span></h2>
        </div>


        <div class="row">
            @foreach (var inn in Model.P_Volunteer.Where(l => l.vol_img != null))
            {
                <article class="item col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="img-box">
                            <img alt="" src="@Url.Content(inn.vol_img)">

                            <div class="overlay3">
                                <ul class="social-icon">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>


                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>


                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="author center">
                        <h4>@inn.vol_title</h4>


                        <p>@inn.vol_description</p>
                    </div>
                </article>
            }
        </div>
    </div>
</section>


<section class="gallery sec-padd">
    <div class="container">
        <div class="section-title center">
            <h2>Latest <span class="thm-color">Projects</span></h2>
        </div>


        <div class="gallery-carousel">
            @foreach (var item in Model.work_sub)
            {
                <article class="item">

                    <div class="inner-box">
                        <img src="@Url.Content(item.event_image)" style="height:290px;width:350px" alt="Error">

                        <div class="overlay">
                            <div class="top">
                                <div class="box">
                                    <div class="content">
                                        <a class="img-popup thm-btn" @* data-group="1"*@ href="~/Home/Event">view project</a>

                                    </div>
                                </div>
                            </div>


                            <div class="bottom">
                                <a href="~/Home/Event/@item.work_sub_catID">
                                    <h4>Clean poor urban areas to protect from pollution.</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>}


            <article class="item">
                <div class="inner-box">
                    <img alt="" src="~/Designing/OLIWSHOME/images/resource/4.jpg">

                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a class="img-popup thm-btn" data-group="1" href="~/Designing/OLIWSHOME/images/resource/4.jpg">view project</a>
                                </div>
                            </div>
                        </div>


                        <div class="bottom">
                            <a href="single-gallery.html">
                                <h4>Clean poor urban areas to protect from pollution.</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </article>


            <article class="item">
                <div class="inner-box">
                    <img alt="" src="~/Designing/OLIWSHOME/images/resource/5.jpg">

                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a class="img-popup thm-btn" data-group="1" href="~/Designing/OLIWSHOME/images/resource/5.jpg">view project</a>
                                </div>
                            </div>
                        </div>


                        <div class="bottom">
                            <a href="single-gallery.html">
                                <h4>Clean poor urban areas to protect from pollution.</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </article>


            @*<article class="item">
                    <div class="inner-box">
                        <img alt="" src="~/Designing/OLIWSHOME/images/resource/3.jpg">

                        <div class="overlay">
                            <div class="top">
                                <div class="box">
                                    <div class="content">
                                        <a class="img-popup thm-btn" data-group="1" href="~/Designing/OLIWSHOME/images/resource/3.jpg">view project</a>
                                    </div>
                                </div>
                            </div>


                            <div class="bottom">
                                <a href="single-gallery.html">
                                    <h4>Clean poor urban areas to protect from pollution.</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>*@


            <article class="item">
                <div class="inner-box">
                    <img alt="" src="~/Designing/OLIWSHOME/images/resource/4.jpg">

                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a class="img-popup thm-btn" data-group="1" href="~/Designing/OLIWSHOME/images/resource/4.jpg">view project</a>
                                </div>
                            </div>
                        </div>


                        <div class="bottom">
                            <a href="single-gallery.html">
                                <h4>Clean poor urban areas to protect from pollution.</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </article>


            <article class="item">
                <div class="inner-box">
                    <img alt="" src="~/Designing/OLIWSHOME/images/resource/5.jpg">

                    <div class="overlay">
                        <div class="top">
                            <div class="box">
                                <div class="content">
                                    <a class="img-popup thm-btn" data-group="1" href="~/Designing/OLIWSHOME/images/resource/5.jpg">view project</a>
                                </div>
                            </div>
                        </div>


                        <div class="bottom">
                            <a href="single-gallery.html">
                                <h4>Clean poor urban areas to protect from pollution.</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


<section class="fact-counter fact-counter-2 sec-padd" style="background-image: url(images/background/10.jpg);">
    <div class="container">
        <div class="row clearfix">
            <article class="col-md-6 col-sm-12">
                <div class="content">
                    <p class="thm-color">Want to join with us</p>


                    <h2>Become a proud volunteer</h2>


                    <p>When you bring together those who have, with those who have not - miracles happen.Become a time hero by volunteering with us. Meet new friends, gain new skills, get happiness and have fun!</p>


                    <div class="link">
                        <a class="thm-btn" href="~/OLIWS/Volunter">Join with us</a>
                    </div>
                </div>
            </article>


            <article class="col-md-6 col-sm-12">
                <div class="counter-outer row clearfix">
                    <!--Column-->


                    <article class="column counter-column col-md-6 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                        <div class="item clearfix">
                            <div class="icon">
                                <i class="icon-people-1"></i>
                            </div>


                            <div class="count-area">
                                <div class="count-outer">
                                    <span class="count-text" data-speed="3000" data-stop="347">0</span>
                                </div>


                                <h4 class="counter-title">Team Members</h4>
                            </div>
                        </div>
                    </article>
                    <!--Column-->


                    <article class="column counter-column col-md-6 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                        <div class="item clearfix">
                            <div class="icon">
                                <i class="icon-favorite"></i>
                            </div>


                            <div class="count-area">
                                <div class="count-outer">
                                    <span class="count-text" data-speed="3000" data-stop="0">0</span>
                                </div>


                                <h4 class="counter-title">Winning Awards</h4>
                            </div>
                        </div>
                    </article>
                    <!--Column-->


                    <article class="column counter-column col-md-6 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                        <div class="item clearfix">
                            <div class="icon">
                                <i class="icon-heart-1"></i>
                            </div>


                            <div class="count-area">
                                <div class="count-outer">
                                    <span class="count-text" data-speed="3000" data-stop="30">0</span>
                                </div>


                                <h4 class="counter-title">Experienced</h4>
                            </div>
                        </div>
                    </article>
                    <!--Column-->


                    <article class="column counter-column col-md-6 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="0ms">
                        <div class="item clearfix">
                            <div class="icon">
                                <i class="icon-people-2"></i>
                            </div>


                            <div class="count-area">
                                <div class="count-outer">
                                    <span class="count-text" data-speed="3000" data-stop="1">0</span>
                                </div>


                                <h4 class="counter-title">Projects Done</h4>
                            </div>
                        </div>
                    </article>
                </div>
            </article>
        </div>
    </div>
</section>


<section class="testimonial-section-one sec-padd" style="background-image: url(images/background/8.jpg);">
    <div class="container">
        <div class="section-title center">
            <h2>Words From <span class="thm-color">People</span></h2>
        </div>


        <div class="inner-container">
            <div class="carousel-outer">
                <!--Slider Content-->


                <ul class="testimonial-slider-content">
                    <!--Slide Item-->


                    <li class="slide-item">
                        <h4 class="title">We dream about a new world for the people with no harm</h4>


                        <div class="text">
                            Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV
                        </div>


                        @*<div class="author">
                                <h4>Eliphalet Noah</h4>


                                <p>San Diego</p>
                            </div>*@
                    </li>
                    <!--Slide Item-->


                    <li class="slide-item">
                        <h4 class="title">We dream about a new world for the people with no harm</h4>


                        <div class="text">
                            Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV
                        </div>


                        @*<div class="author">
                                <h4>Eliphalet Noah</h4>


                                <p>San Diego</p>
                            </div>*@
                    </li>
                    <!--Slide Item-->


                    <li class="slide-item">
                        <h4 class="title">We dream about a new world for the people with no harm</h4>


                        <div class="text">
                            Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV
                        </div>


                        @*<div class="author">
                                <h4>Eliphalet Noah</h4>


                                <p>San Diego</p>
                            </div>*@
                    </li>
                    <!--Slide Item-->


                    <li class="slide-item">
                        <h4 class="title">We dream about a new world for the people with no harm</h4>


                        <div class="text">
                            Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV
                        </div>


                        @*<div class="author">
                                <h4>Eliphalet Noah</h4>


                                <p>San Diego</p>
                            </div>*@
                    </li>
                    <!--Slide Item-->


                    <li class="slide-item">
                        <h4 class="title">We dream about a new world for the people with no harm</h4>


                        <div class="text">
                            Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV
                        </div>


                        @*<div class="author">
                                <h4>Eliphalet Noah</h4>


                                <p>San Diego</p>
                            </div>*@
                    </li>
                    <!--Slide Item-->


                    <li class="slide-item">
                        <h4 class="title">We dream about a new world for the people with no harm</h4>


                        <div class="text">
                            Our professionals know how to handle a wide range of car services. Whether you drive a passenger car or medium sized truck or SUV
                        </div>


                        @*<div class="author">
                                <h4>Eliphalet Noah</h4>


                                <p>San Diego</p>
                            </div>*@
                    </li>
                </ul>


                <div class="styled-dots">
                </div>


                <div class="pagers-outer">
                    <!--Slider Pager-->


                    <ul class="testimonial-slider-pager">
                        <!--Pager Item-->


                        <li class="pager-item">
                            <div class="inner-box">
                                <figure class="author-thumb">
                                    <img alt="" src="~/Designing/OLIWSHOME/images/team/author1.png">
                                </figure>
                            </div>
                        </li>
                        <!--Pager Item-->


                        <li class="pager-item">
                            <div class="inner-box">
                                <figure class="author-thumb">
                                    <img alt="" src="~/Designing/OLIWSHOME/images/team/author2.png">
                                </figure>
                            </div>
                        </li>
                        <!--Pager Item-->


                        <li class="pager-item">
                            <div class="inner-box">
                                <figure class="author-thumb">
                                    <img alt="" src="~/Designing/OLIWSHOME/images/team/author3.png">
                                </figure>
                            </div>
                        </li>
                        <!--Pager Item-->


                        <li class="pager-item">
                            <div class="inner-box">
                                <figure class="author-thumb">
                                    <img alt="" src="~/Designing/OLIWSHOME/images/team/author1.png">
                                </figure>
                            </div>
                        </li>
                        <!--Pager Item-->


                        <li class="pager-item">
                            <div class="inner-box">
                                <figure class="author-thumb">
                                    <img alt="" src="~/Designing/OLIWSHOME/images/team/author2.png">
                                </figure>
                            </div>
                        </li>
                        <!--Pager Item-->


                        <li class="pager-item">
                            <div class="inner-box">
                                <figure class="author-thumb">
                                    <img alt="" src="~/Designing/OLIWSHOME/images/team/author3.png">
                                </figure>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


@*<section class="clients-section">
        <div class="container">
            <div class="client-carousel owl-carousel owl-theme">
                <div class="item tool_tip" title="media partner">
                    <img alt="Awesome Image" src="~/Designing/OLIWSHOME/images/clients/1.jpg">
                </div>


                <div class="item tool_tip" title="media partner">
                    <img alt="Awesome Image" src="~/Designing/OLIWSHOME/images/clients/2.jpg">
                </div>


                <div class="item tool_tip" title="media partner">
                    <img alt="Awesome Image" src="~/Designing/OLIWSHOME/images/clients/3.jpg">
                </div>


                <div class="item tool_tip" title="media partner">
                    <img alt="Awesome Image" src="~/Designing/OLIWSHOME/images/clients/4.jpg">
                </div>


                <div class="item tool_tip" title="media partner">
                    <img alt="Awesome Image" src="~/Designing/OLIWSHOME/images/clients/5.jpg">
                </div>
            </div>
        </div>
    </section>*@


<section class="blog-section sec-padd2">
    <div class="container">
        <div class="section-title center">
            <h2>Latest From News</h2>
        </div>


        <div class="row">
            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="default-blog-news">
                    <figure class="img-holder">
                        <a href="blog-details.html"><img alt="News" src="~/Designing/OLIWSHOME/images/blog/1.jpg"></a>

                        <div class="inner-box">
                        </div>
                    </figure>


                    <div class="overlay">
                        <div class="bottom-box">
                            <div class="category">
                                Awarness
                            </div>


                            <div class="content">
                                <div class="post-meta">
                                    February 05, 2017 | 10 Comments
                                </div>
                                <a href="blog-details.html">
                                    <h4>
                                        New Award To Support Children<br>
                                        Affected by Crises
                                    </h4>
                                </a>

                                <div class="text">
                                    <p>
                                        Explain to you how all this mistaken idea<br>
                                        of denouncing pleasure and praising pain was<br>
                                        born give you a complete.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="lower-content">
                        <div class="category">
                            Awarness
                        </div>


                        <div class="content">
                            <div class="post-meta">
                                February 05, 2017 | 10 Comments
                            </div>
                            <a href="blog-details.html">
                                <h4>
                                    New Award To Support Children<br>
                                    Affected by Crises
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            </article>


            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="default-blog-news">
                    <figure class="img-holder">
                        <a href="blog-details.html"><img alt="News" src="~/Designing/OLIWSHOME/images/blog/2.jpg"></a>

                        <div class="inner-box">
                        </div>
                    </figure>


                    <div class="overlay">
                        <div class="bottom-box">
                            <div class="category">
                                Awarness
                            </div>


                            <div class="content">
                                <div class="post-meta">
                                    February 05, 2017 | 10 Comments
                                </div>
                                <a href="blog-details.html">
                                    <h4>
                                        New Award To Support Children<br>
                                        Affected by Crises
                                    </h4>
                                </a>

                                <div class="text">
                                    <p>
                                        Explain to you how all this mistaken idea<br>
                                        of denouncing pleasure and praising pain was<br>
                                        born give you a complete.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="lower-content">
                        <div class="category">
                            Awarness
                        </div>


                        <div class="content">
                            <div class="post-meta">
                                February 05, 2017 | 10 Comments
                            </div>
                            <a href="blog-details.html">
                                <h4>
                                    New Award To Support Children<br>
                                    Affected by Crises
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            </article>


            <article class="col-md-4 col-sm-6 col-xs-12">
                <div class="default-blog-news">
                    <figure class="img-holder">
                        <a href="blog-details.html">
                            <img alt="News" src="~/Designing/OLIWSHOME/images/blog/3.jpg">
                        </a>

                        <div class="inner-box">
                        </div>
                    </figure>


                    <div class="overlay">
                        <div class="bottom-box">
                            <div class="category">
                                Awarness
                            </div>


                            <div class="content">
                                <div class="post-meta">
                                    February 05, 2017 | 10 Comments
                                </div>
                                <a href="blog-details.html">
                                    <h4>
                                        New Award To Support Children<br>
                                        Affected by Crises
                                    </h4>
                                </a>

                                <div class="text">
                                    <p>
                                        Explain to you how all this mistaken idea<br>
                                        of denouncing pleasure and praising pain was<br>
                                        born give you a complete.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="lower-content">
                        <div class="category">
                            Awarness
                        </div>


                        <div class="content">
                            <div class="post-meta">
                                February 05, 2017 | 10 Comments
                            </div>
                            <a href="blog-details.html">
                                <h4>
                                    New Award To Support Children<br>
                                    Affected by Crises
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
